﻿<!DOCTYPE HTML>
<html>
<html>
<head>
    <title>ULAB Test</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <noscript>
        <link rel="stylesheet" href="css/5grid/core.css" />
        <link rel="stylesheet" href="css/5grid/core-desktop.css" />
        <link rel="stylesheet" href="css/5grid/core-1200px.css" />
        <link rel="stylesheet" href="css/5grid/core-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
    <script src="css/5grid/jquery.js"></script>
    <script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI.titleBarHeight=55&amp;mobileUI.openerWidth=75&amp;mobileUI.openerText=&lt;"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
</head>
<body class="subpage">

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">

                    <!-- Logo -->
                    <h1><a class="logo-image">
                        <img src="images/pitt.png" /></a><a class="logo-image">
                        <img src="images/cmu.jpg" /></a><a href="#" class="mobileUI-site-name">Human Swarm Interaction</a></h1>

                    <!-- Nav -->
                    <nav class="mobileUI-site-nav">

                        <a href="/">Homepage</a>
                        <a href="{{ url }}">{{ url_linktext }}</a>
                    </nav>

                </div>
            </div>
        </header>
    </div>
    <div id="content-wrapper">
        <div id="content">
            <div class="5grid-layout">
                <div class="row">
                <div class="3u">
                    <section>
                            <header>
                                <h2>Legend</h2>
                            </header>
                        <ul class="check-list">
                              <li><a class="bordered-legend-image">
        <img src="/images/robot.png" />  Robot</a></li>
                            <li><a class="bordered-legend-image">
        <img src="/images/explored.png" />  Explored Area</a></li>
                            <li><a class="bordered-legend-image">
        <img src="/images/wall.png" />  Obstacle</a></li>
                                        </ul>
                        </section>
                    <section>
                            <ul class="check-list">
                                            <li>
                                                Trial Number: {{exp_count}}
                                            </li>
                                            <li>
                                                Total Number of Trials: {{total}}
                                            </li>
                                            
                                        </ul>
                        </section>
                    </div>
                
                    <div class="6u mobileUI-main-content">
                        <section>
                            {# Check if we have any todos, only in this case render the table #}
    <a class="bordered-main-image">
        <img width="50" src="data:image/png;base64,{{image}}" /></a>
                        </section>

                    </div>
                    <div class="3u">

                        <!-- Sidebar -->
                        <section>
                            <header>
                                <h2>Trial {{exp_count}}</h2>
                            </header>
                            
                                {% if both_message %}
                            <ul class="check-list">
                                            <li>
                                                <p>{{both_message}}</p>
                                            </li>
                                </ul>
                                {% endif %}
                            <br />
                            {% if not deploy and not rend %}
                             <div style="float: right;">
                            <form action="/experiment?id={{next}}" method="get" >
                                <input type="hidden" name="id" value="{{next}}" />
                                <input name="Next" type="submit" value="Next" />
                                </form>
                                 </div>
                                       <!-- <div style="float: right;"><a class="experiment" href="/experiment?id={{next}}">Next</a></div>-->
                            {%endif%}
                            {% if not deploy or not rend %}
                            <div>
                                <p>
                                    Coverage: {{score}}
                                </p>
                            </div>
                            {%endif%}
                            {% if deploy  %}
                                        <div style="float: left;">
                                            <form action="/experiment" method="post" onsubmit="this.deploy_button.disabled = true;this.deploy_button.value='Loading...'">
                                                <input type="hidden" name="id" value="{{current}}" />
                                                <input type="hidden" name="str" value="d" />
                                                <input name="deploy_button" type="submit" value="Deploy" />
                                            </form>
                                        </div>
                            {% endif %}
                            {% if rend %}
                            <div style="float: right;">
                                <form action="/experiment" method="post" onsubmit="this.rend_button.disabled = true;this.rend_button.value='Loading...'">
                                    <input type="hidden" name="id" value="{{current}}" />
                                    <input type="hidden" name="str" value="r" />
                                    <input name="rend_button" type="submit" value="Rendezvous" />
                                </form>
                            </div>
                            {% endif %}
                            
                             
                                
                        </section>
                       
                        <section>
                            <ul class="check-list">
                                            <li>
                                                Deploy distributes robots
                                            </li>
                                            <li>
                                                Rendezvous converges robots
                                            </li>
                                            <li>
                                                Score is calculated based on how much of the environment is <i>explored </i>by the robots in <i>each run</i>.
                                            </li>
                                        </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
