﻿<!DOCTYPE HTML>
<!--
	Halcyonic 2.5 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<html>
<head>
    <title>ULAB Test</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <noscript>
        <link rel="stylesheet" href="css/5grid/core.css" />
        <link rel="stylesheet" href="css/5grid/core-desktop.css" />
        <link rel="stylesheet" href="css/5grid/core-1200px.css" />
        <link rel="stylesheet" href="css/5grid/core-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
    <script src="css/5grid/jquery.js"></script>
    <script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI.titleBarHeight=55&amp;mobileUI.openerWidth=75&amp;mobileUI.openerText=&lt;"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
</head>
<body>

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">

                    <!-- Logo -->
                    
                    <h1><a class="logo-image">
                        <img src="images/pitt.png" /></a><a class="logo-image">
                        <img src="images/cmu.jpg" /></a><a href="#" class="mobileUI-site-name">Human Swarm Interaction</a></h1>

                    <!-- Nav -->
                    <nav class="mobileUI-site-nav">

                        <a href="/">Homepage</a>
                        <a href="{{ url }}">{{ url_linktext }}</a>
                    </nav>

                </div>
            </div>
        </header>
    </div>

    <div id="content-wrapper">
        <div id="content">
            <div class="5grid-layout">
                <div class="row">
                    <div class="3u">

                        <!-- Sidebar -->
                        <section>
                            {% if user %}
										<header>
                                            <h2>Experiment Status</h2>
                                        </header>
                            {% if active %}
										<ul class="link-list">
                                            <li>
                                                <p>Experiment Number: {{ active.key.id }}</p>
                                            </li>
                                            <li>
                                                <p>Created: {{active.created|date:"d.m.Y"}}</p>
                                            </li>
                                            <li><a href="/done?id={{active.key.id}}" class="button-big">Start!</a></li>
                                        </ul>
                            {% else %}
                                            <p>Start a new experiment: <a class="new" href="/new">here</a></p>
                            {% endif %}
                                        {% else %}
                            <a href="{{ url }}">{{ url_linktext }}</a> with your Google Account to participate in the experiment.
                            {% endif%}
                        </section>
                    </div>
                    <div class="9u">

                        <!-- Sidebar -->
                        <section>
					        <header>
                                <h2>Instructions</h2>
                            </header>
                            <p>
                                The goal of this experiment is to study human decision making in interaction with a robotic swarm.
                            </p>
                            <p>
                                You will explore a simulated environment using a group of robots, your task is to achieve maximum coverage of the environment using those robots. 
                                To control the system you will have two choices, Deploy or Rendezvous. Deploy tends to disperse robots and Rendezvous tends to converge robots to a single point.
                            </p>
                            <p>
                                You can choose between two choices in each trial and a score will be computed based on the amount of space robots explored. Explored area will be indicated by blue colour. 
                                Note that there will be obstacles on the path of robots and this may prevent them to continue their path. The heading of robots does not have any effect on the direction they will move.
                            </p>
                            <p>
                                First 10 trials are for practice, after choosing one strategy you will choose the other strategy to observe its behaviour in the
                                same environment from the same initial configuration. After that you will only be able to choose one strategy in each trial.
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />



    

  <!--<div id="header">
    <div class="topLine">
      <div  style="float: left;" class="image"><img height="100%" src="images/pitt.png" /></div>
      <div style="float: left;" class="headline"><a href="/">Interface experiment</a></div>
      <div style="float: right;"><a href="{{ url }}">{{ url_linktext }}</a> {{user.nickname}}</div>
    </div>
  </div>-->
    <!--
<div style="clear: both;"/>  

{# Check if we have any todos, only in this case render the table #}

          
      -->
</body>
</html>
